    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        background-color: rgb(231, 249, 255);
    }

    .main {
        padding: 0px 210px;
    }

    .border {
        border: 12px;
        border-style: outset;
        border-color: rgb(29, 202, 208);
    }

    .youtube {
        aspect-ratio: 16 / 9;
    }

    .title {
        margin-left: 16px;
    }

    .center_vertically{
        margin: auto 0px;
    }

    .gallery > div div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .gallery > div:nth-of-type(odd) * {
        text-align: right;
    }

    .gallery > div:nth-of-type(even) div * {
        text-align: left;
    }

    .gallery > div:nth-of-type(odd) div * {
        text-align: right;
    }

    .gallery > div:nth-of-type(odd) div :nth-child(2) {
        order: -1;
    }

    .gallery > * img {
        width: 100%;
    }

    .gallery > * p {
        font-size:  32px;
        padding: 0px 50px;
    }

    h1 {
        text-align: left; 
        color: white;
        font-family: "Bahnschrift", Helvetica, sans-serif;
        font-size: 85px;
        margin: 0;
    }

    h2 {
        color: black;
        font-family: "Bahnschrift", Helvetica, sans-serif;
        font-size: 55px;
        margin-bottom: 0;
    }

    h3 {
        color: black;
        font-family: "Bahnschrift", Helvetica, sans-serif;
        font-size: 28px;
        margin-bottom: 0;
    }

    p {
        text-align: left; 
        color: black;
        font-family: "Bahnschrift", Helvetica, sans-serif;
        font-size: 27px;
        margin: 0;
    }

    li {
        text-align: left; 
        color: black;
        font-family: "Bahnschrift", Helvetica, sans-serif;
        font-size: 25px;
        margin: 0;
    }

    footer {
        background-color: rgb(29, 202, 208);
        height: 65px;
        margin-top: 40px;
    }

    nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    header {
        background-color: rgb(29, 202, 208);
        height: 100px;
        margin-bottom: 40px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    header button {
        text-align: center;
        background-color: rgb(29, 202, 208);
        color: white;
        font-family: "Bahnschrift", Helvetica, sans-serif;
        font-size: 2.5rem;
        border: 0;
        height: 100px;
        width: 180px;
    }

    header button:hover {
        background-color: rgb(56, 143, 146);
        border: 0;
    }

    button:hover{
        cursor: pointer;
    }

    