    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        background-color: rgb(231, 249, 255);
    }

    .main {
        padding-left: 12%;
        padding-right: 12%;
    }

    .border {
        border: 12px;
        border-style: outset;
        border-color: rgb(29, 202, 208);
    }

    .youtube {
        aspect-ratio: 16 / 9
    }

    h1 {
        text-align: left; 
        color: white;
        font-family: "Bahnschrift", Helvetica, sans-serif;
        font-size: 85px;
        margin: 0;
    }

    h2 {
        color: black;
        font-family: "Bahnschrift", Helvetica, sans-serif;
        font-size: 55px;
        margin-bottom: 0;
    }

    h3 {
        color: black;
        font-family: "Bahnschrift", Helvetica, sans-serif;
        font-size: 28px;
        margin-bottom: 0;
    }

    p {
        text-align: left; 
        color: black;
        font-family: "Bahnschrift", Helvetica, sans-serif;
        font-size: 25px;
        margin: 0;
    }

    li {
        text-align: left; 
        color: black;
        font-family: "Bahnschrift", Helvetica, sans-serif;
        font-size: 25px;
        margin: 0;
    }

    img {
        width:55%;
    }

    footer {
        background-color: rgb(29, 202, 208);
        height: 65px;
        margin-top: 40px;
    }

    header {
        background-color: rgb(29, 202, 208);
        height: 100px;
        margin-bottom: 40px;
        display: flex;
        flex-wrap: nowrap;
    }

    .buttonHeader {
        text-align: center;
        background-color: rgb(29, 202, 208);
        color: white;
        font-family: "Bahnschrift", Helvetica, sans-serif;
        font-size: 40px;
        border: 0;
        height: 100px;
        width: 180px;
    }

    button:hover {
        background-color: rgb(56, 143, 146);
        border: 0;
    }